.color-game{
    margin: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    text-align: center;

    &__container {
        width: 80%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    &__question {
        margin: 5px;
    }

    &__scores {
        margin: 5px auto;
        & p{
            margin: 5px;
        }
    }
}

.text__container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}